[submodule "nvim/pack/common/start/srcery-vim"]
	path = nvim/pack/common/start/srcery-vim
	url = https://github.com/srcery-colors/srcery-vim.git
[submodule "nvim/pack/common/start/copilot"]
	path = nvim/pack/common/start/copilot
	url = https://github.com/github/copilot.vim
[submodule "nvim/pack/common/start/plenary"]
	path = nvim/pack/common/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/pack/common/start/CopilotChat"]
	path = nvim/pack/common/start/CopilotChat
	url = https://github.com/CopilotC-Nvim/CopilotChat.nvim
[submodule "nvim/pack/common/start/vim-test"]
	path = nvim/pack/common/start/vim-test
	url = https://github.com/vim-test/vim-test.git
[submodule "nvim/pack/common/start/vim-textobj-rubyblock"]
	path = nvim/pack/common/start/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "nvim/pack/common/start/vim-textobj-user"]
	path = nvim/pack/common/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "nvim/pack/common/start/syntastic"]
	path = nvim/pack/common/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "nvim/pack/common/start/vim-gutentags"]
	path = nvim/pack/common/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
